@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --color-primary: 27 27 34;
      --color-primary-light: 49 49 63;
      --color-primary-dark: 20 20 24;
      --color-primary-text: 232 231 235;
      --color-secondary-text: 135 135 153;
      --color-accent: 118 118 134;
      --color-accent2: 123 123 138;
      --color-accent3: 184 184 212;
      --color-success: 99 230 190;
      --color-hero-ball: 238 57 87;
   }
}

.btn {
   color: rgb(238, 57, 87);
}
